<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/LessonVD02_style.css">

</head>
<body>

    <div class="card">
           <div class="photo">
               <img src="static/image/VD02_hw_2.jpg">
           </div>

           <div class="info">
               <h1>Гарри Поттер</h1>
               <p> литературный персонаж, главный герой серии романов английской писательницы Джоан Роулинг.
                   На одиннадцатый день рождения Гарри узнаёт, что является волшебником, и ему уготовано
                   место в школе волшебства «Хогвартс», в которой он будет практиковать магию под руководством
                   директора Альбуса Дамблдора и других школьных профессоров. </p>
           </div>
    </div>

</body>
</html>